.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  margin-bottom: 12px;
  background-color: rgb(0, 69, 134);
  box-shadow: 0 0 6px rgb(0, 29, 56);
  color: lightgray;
}

.website-identifier {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 12px;
  justify-self: flex-end;
}

.backIcon {
  height: 20px;
  margin: 5px;
  margin-left: 10px;
  justify-self: flex-start;
}

.hidden {
  display: none;
}

.logo {
  width: 40px;
  height: 40px;
}
